<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>
    <a>配置文件上传</a>
 <form enctype="multipart/form-data" action="uploadBooks" method="post">
   <input type="file" name="myfile" />
   <br/>
   <input type="submit" value="upload"/>
</form>
<form method="POST" action="http://upload.qiniu.com/" enctype="multipart/form-data">
<input name="key" type="hidden" value="">
<input name="token" type="hidden" value="\token">
<input name="file" type="file">
<input type="submit">
</form>
</body>
</html>